* {
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: lightgray;

}

:root {
    --primary: #F1EBC7;
    --secondary: #2C2B27;
    --accent: #029ADD;
    --green: #BED28B;
    --orange: #FF8A2B;

}
/* background: var(--red-color-10); */



/* home page css */




/* product page css */




/* history page css */